body{
	margin:5px;
	padding:10px;
}
h1{
	color:blue;
	text-align:center;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li, p{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
