html{
margin:0;
padding:0;
background-color:#211865;
}
body{
margin:0;
padding:0;
}
h1{
text-align:center;
color:white;
font-family:'Times New Roman', Times, serif;
}
#secondHeader{
background-color:white;
text-align:center;
margin:0;
padding:0;
font-size:18px;
}
header{
margin:0;
padding:0;
}
#head{
background-color:red;
margin:0;
padding:0;
}
#button1{
color:black;
background-color:green;
text-align:center;
}
#button2{
color:black;
background-color:red;
text-align:center;	
}
#button3{
color:black;
background-color:blue;
text-align:center;	
}
#button4{
color:black;
background-color:purple;
text-align:center;
}
button{
border:none;
border-radius:3px;
font-size:18px;
font-family:Georgia, 'Times New Roman', Times, serif;
}
p{
margin:5px;
padding:5px;
color:white;
font-size:16px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-shadow:1px 1px black;
}
#buttons{
text-align:center;
font-size:18px;
background-color:white;
margin:0;
padding:0;
}